:root {
    --mouse-position: 0
}

.timeLine-content {
    display: flex;
}

.timeLine-container {

}

.timeLine {
    display: flex;
    align-items: center;
    position: relative;
    > .line {
        transition: 1s;
        height: 0.2rem;
        display: block;
        background-color: $baseColor-yellow;
        width: calc(var(--mouse-position) * 1%);
    }
    .line::after {
        
        z-index: -1;
        content: '';
        position: absolute;
        height: 0.2rem;
        display: block;
        background-color: $baseColor-lightGreen;
        width: 100%;
        top: 0;
    }
}

.date {
    transition: 0.5s;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 0.2rem solid $baseColor-lightGreen;
    border-radius: 100%;
}

.active-date {
    scale: 1.3;
    border: 0.2rem solid $baseColor-green;
    background-color: $baseColor-yellow;
}


@for $i from 1 through 3 {
    .timeLine {
        span:nth-child(#{$i + 1}) {
            left: calc((25% * $i) - 15px);
        }
    }
}