footer {
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.234);
    height: 150px;
    background-color: $baseColor-lightGreen;
    color: $baseColor-green;
    margin: 10rem auto 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    > div {
        display: flex;
        letter-spacing: 2px;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 100%;
    }
}

.footer-link {
    > a {
        transition: 0.5s ease-in-out;
        &:hover {
            color: $baseColor-yellow;
            scale: 0.9;
        }
    }
}

@media screen and (max-width: 800px) {
    .footer-adresse {
        width: 40%;
        > span {
            font-size: 0.7rem;
        }
    }
}

