//RESET CSS//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-family: sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
ol {
    list-style: none;
}

.container {
    padding-top: 10rem;
    margin: auto;
    overflow: hidden;
}

.container-2 {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding-top: 7rem;
    margin: auto;
}

@media screen and (min-width: 1720px) {

    .container,
    .container-2 {
        width: 1720px;
    }
}

// variable sass

$baseColor-green: #145858;
$baseColor-lightGreen: #C9E0CA;
$baseColor-yellow: #F7B318;

// Importations styles

@import './pages/about/About';
@import './pages/contact/Contact';
@import './pages/home/Home';
@import './pages/product/Product';
@import './components/footer/Footer';
@import './components/navbar/NavBar';